<header class="header | container" role="banner">
  <nav class="header_inner" role="navigation" aria-label="{{ texts.mainNav }}">
    <div class="header_upper">
      <a class="logo" href="/{% if '/en/' in page.url %}en{% endif %}">      
        {# <svg class="icon" aria-hidden="true"><use xlink:href="/images/247max.svg#logo"/></svg> #}
        <img src="/images/LOGO DEF BLANC.png" alt="Scenario42" class="is-white">
        <img src="/images/LOGO DEF NOIR.png" alt="Scenario42" class="is-black">
        <span class="sr-only">Scenario42 (ex-247Max)</span>
      </a>
      
      <div class="menu_item mlauto is-lang-upper">
        <a lang="fr" hreflang="fr" class="menu_link"
        {% if '/en/' not in page.url %} aria-current="true" href="{{ page.url }}"{% else %} href="{{ translatedUrl }}" {% endif %}>FR<span class="sr-only">, version française</span>
        </a>
        <span aria-hidden="true" class="menu_separator">|</span>
        <a class="menu_link" lang="en" hreflang="en"
        {% if '/en/' in page.url %} aria-current="true" href="{{ page.url }}"{% else %} href="{{ translatedUrl }}" {% endif %}>
          EN<span class="sr-only">, english version</span>
        </a>
      </div>
    </div>
    <div class="menu">
      <ul class="menu_list">
        {%- for element in menu %}
          <li class="menu_item">
            <a class="menu_link" href="{{ element[0] }}" 
            {% if page.url == element[0] %} aria-current="page"{% endif %}
            >{{ element[1] }}</a>
          </li>
        {%- endfor %}
        <li class="menu_item mlauto is-lang-menu">
          <a lang="fr" hreflang="fr" class="menu_link"
          {% if '/en/' not in page.url %} aria-current="true" href="{{ page.url }}"{% else %} href="{{ translatedUrl }}" {% endif %}>FR<span class="sr-only">, version française</span>
          </a>
          <span aria-hidden="true" class="menu_separator">|</span>
          <a class="menu_link" lang="en" hreflang="en"
          {% if '/en/' in page.url %} aria-current="true" href="{{ page.url }}"{% else %} href="{{ translatedUrl }}" {% endif %}>
            EN<span class="sr-only">, english version</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>