.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > * {width: 100%;}

  .main {
    flex: 1;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}



.is-home {
  background-color: #000;
  background-image: linear-gradient(to bottom, rgba(#000C0D,.40), rgba(#000C0D,.40)),url('../images/background.jpg'); // 
  color: #fff;
  background-size: cover;
  background-position: center;

  .main {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    margin: 0;
  }
}

.is-page {
  h1 {margin-bottom: 2rem;}
}