.hero {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  gap: var(--grid-gap);
  align-items: center;

  &_logo {
    // @include fluid-type(200, 425);
    
    @include fluid-type(25, 40);
    text-align: center;
    font-weight: bold;
    transform: translateY(-.75rem); // optical compensation
    margin: 0 auto;

    @include mq(medium) {
      margin: 0 auto;
    }
  }

  &_separator {
    border: none;
    background-color: #fff;
    height: 4px;
    width: 100%;
    margin: 0;
  }

  &_description {
    line-height: 1.1;
    font-weight: 900;
    @include fluid-type(40, 100);

    text-align: center;

    @include mq(medium) {
      text-align: left;
    }
  }

  @include mq(medium) {
    // grid-template-columns: auto auto 1fr;

    &_logo {
      opacity: 0;
      transform: translateY(2rem);
      animation: fade-in-up .75s .5s forwards cubic-bezier(0.785, 0.135, 0.410, 0.740);
    }

    &_separator {
      width: 4px;
      height: 90%;
      margin: 2rem;

      transform: scaleY(0);
      animation: scaleY .75s 1s forwards cubic-bezier(0.785, 0.135, 0.410, 0.740);
    }

    &_description {
      opacity: 0;
      transform: translateY(2rem);
      animation: fade-in-up 1.5s 1.5s forwards cubic-bezier(0.785, 0.135, 0.410, 0.740);
    }
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleY {
  from {transform: scaleY(0);}
  to {transform: scaleY(1);}
}