.header {
  &_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
  
    @include mq(intermediary) {
      flex-direction: row;
    }
  }

  
  &_upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0;
    width: 100%;

    @include mq(intermediary) {
      
      width: auto;
    }
  }
}

.logo {
  font-size: 40px;
  margin: 0 2rem 0 0;
  color: inherit;
  display: inline-flex;
  align-items: center;
  height: 1em;
  width: auto;

  img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    // width: auto;

    &.is-black {
      display: none;
    }
  }

  .icon {
    vertical-align: top;
  }

  @include mq(small) {
    font-size: 50px;
  }
}

.is-home .logo .is-white {display: none;}
.is-home .logo .is-black {display: block;}

.is-lang-upper {display: block;}
.is-lang-menu {display: none;}

@include mq(intermediary) {
  .is-lang-upper {display: none;}
  .is-lang-menu {display: block;}
}

.menu {
  width: 100%;
  &_list {
    font-weight: 500;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 0;
  
    flex-wrap: wrap;
    white-space: nowrap;
    // overflow-x: auto;
    // overflow-y: hidden;
    // position: relative;

    @include mq(intermediary) {
      flex-wrap: nowrap;
      justify-content: left;
    }
  }

  &_item {
    margin-top: .5rem;
    padding: 0 .25rem;

    @include mq(small) {
      padding: 0 1rem;
    }
  }

  &_link {
    display: inline-block;
    padding: .25rem 0;
    // margin: 1rem 0;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: 14px;

    @include mq(small) {
      font-size: 1rem;
    }

    &[aria-current],
    &:hover,
    &:focus {
      font-weight: 900;
      border-bottom-color: var(--color-primary);
    }
  }
}