/*!
Author: Rachel Pellin
Author URI: https://prachel.fr/
Package: webtopie-sass-starter
Version: 1.0
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables & mixins

# Global
  ## Reset
  ## Base
  ## Typography
  ## Media
  ## Tables
  ## Forms
  ## Progress

# Blocks
  ## Icons

# Composition
  ## Containers
  ## Grid

# Utility
	## Accessibility
  ## Spacers
  ## Sizes

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Variables & mixins
--------------------------------------------------------------*/
@import "config/mixins";
@import "config/variables";

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
@import "global/reset";
@import "global/base";
@import "global/typography";
@import "global/media";
@import "global/tables";
@import "global/forms";
@import "global/progress";

/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
@import "blocks/icons";
@import "blocks/pagination";
@import "blocks/projets";
@import "blocks/hero";
@import "blocks/menu";
@import "blocks/footer";
@import "blocks/content";
@import "blocks/projet";
@import "blocks/button";
@import "blocks/team";
@import "blocks/breadcrumb";
@import "blocks/lang-banner";

/*--------------------------------------------------------------
# Composition
--------------------------------------------------------------*/
@import "utility/containers";
@import "utility/grid";
@import "utility/column";

/*--------------------------------------------------------------
# Utility
--------------------------------------------------------------*/
@import "utility/typography";
@import "utility/accessibility";
@import "utility/spacers";
@import "utility/alignments";
@import "utility/sizes";
@import "utility/external-link";
@import "utility/page";
@import "utility/aspect-ratio";