{% include "snippets/head.njk" %}
<div class="page is-home">
  {% include "snippets/menu.njk" %}

    <main  role="main" class="main" id="main" tabindex="-1">
      <div class="hero | container animated fade-up">
        <h1 class="sr-only">{{ title | safe }}</h1>
        <svg class="hero_logo | icon" aria-hidden="true"><use xlink:href="/images/247max.svg#logo"/></svg>

        <hr class="hero_separator" role="presentation">

        <p class="hero_description">
          {{ subtitle | safe }}
        </p>
      </div>
    </main>

    {% include "snippets/footer.njk" %}