{% include "snippets/head.njk" %}
  <div class="page is-page">
    {% include "snippets/menu.njk" %}

    <main class="main | container--s content" id="main" tabindex="-1">
      {% block content %}
          {{ content | safe }}
        {% endblock %}
    </main>

    {% include "snippets/footer.njk" %}